@font-face {
  font-family: 'Roboto-Regular';
  src: url(../fonts/Roboto/Roboto-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Roboto-ExtraBold';
  src: url(../fonts/Roboto/Roboto-ExtraBold.ttf) format('truetype');
}

@font-face {
  font-family: 'Roboto-SemiBold';
  src: url(../fonts/Roboto/Roboto-SemiBold.ttf) format('truetype');
}

@font-face {
  font-family: 'Roboto-Bold';
  src: url(../fonts/Roboto/Roboto-Bold.ttf) format('truetype');
}

@font-face {
  font-family: 'Roboto-Medium';
  src: url(../fonts/Roboto/Roboto-Medium.ttf) format('truetype');
}

@font-face {
  font-family: 'Roboto-Light';
  src: url(../fonts/Roboto/Roboto-Light.ttf) format('truetype');
}
